
body {
    background-color: #fff;
}

.container-fluid {
    padding: 25px;
}

.card {
    margin: 1rem;
    border: 1px solid #000000;
}

.imagem-card {
    max-width: 200px;
    padding: 1rem;
    margin-left: 4rem;
}

.imagem-card2 {
    max-width: 300px;
    padding-left: 4rem;
    padding-top: 3rem;
}

.image1 { 
    max-width: 250px;
    padding-top: 2rem;
    margin: auto;
    padding-bottom: 2rem;   
}

.Valor {
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.criar-conta {
    border: 0.5px solid #000000;
}

.nav1 {
    background-color:#fff;
    color: #fff;
    padding: 1rem;
}

.nav2 {
    background-color: #000000;
    padding-bottom: 1rem;   
}

.nav2 li a {
    color: #fff;
    font-size: 18px;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.5rem;
    font-size: 25px;
    width: 60px;
}

.navbar-brand {
    position: absolute;
}

.nav1 a {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.nav1 form { 
    color: #000;
    font-family: 'Nunito', sans-serif;
}

.btn {
    margin-left: 7rem;
}

.principal {
    margin: 10px 30px 30px 30px;

}

.card-body {
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 3%;
}

.card-formatation h1 {
    font-size: 22px;
    text-align: center;
}

.nav2 a {
    font-family: 'Nunito', sans-serif;
    color: #000;
    font-size: 15px;
    padding-top: 1rem;
}

.sld1 {
    background-color: #6787e7 ;    
}

button.comprar {
    border: 1px solid #000;
}

.prod {
    padding-top: 2rem;
}

.col-md {
    margin: 0 10px;
}

.form-control {
    border: 0.9px solid #000000;
}

.redes {
    text-align: center;
    padding-bottom: 3rem;
  
}
.redes a {
    padding-left: 1rem; 
}

.direitos { 
    text-align: center;
    font-size: 10px;
}

footer {
    margin: 20px;
}

/*página case*/
.product-list {
    background-color: #dfe6e9;
    padding: 3em;
}

.product-list .card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    font-family: 'Poppins';
    max-width: 90%;
}

.card .title {

    font-size: 18px;
    font-weight: bold;
    
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card .text {
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 12px;
}

.comprar {
    background-color: #f9ca24;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    align-items: center;
}

.comprar:hover {
    box-shadow: 0px 5px #b2bec3;
    color: #eb4d4b;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    

}

