
body{
    background-color: #fff;
}

.imagem-card{
    max-width: 200px;
   padding-left: 2rem;

}
.imagem-card2{
    max-width: 300px;
    padding-left: 4rem;
    padding-top: 3rem;

}
.image1{

  max-width: 250px;
  padding-top: 2rem;
    margin: auto;
    padding-bottom: 2rem;
 
  
}
.nav1{
    background-color:#fff;
    color: #fff;
    padding: 1rem;
}
.nav2{
    background-color: #000000;
    padding-bottom: 1rem;
   

}

.nav2 li a{
    color: #fff;
    font-size: 18px;
}
#title{
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 0.5rem;
    font-size: 25px;
    width: 60px;
}
.nav1 a{
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
 
}
.nav1 form{
    color: #000;
    font-family: 'Nunito', sans-serif;
}
.card-formatation h1{
    font-size: 22px;

}


.nav2 a{
        font-family: 'Nunito', sans-serif;
        color: #000;
        font-size: 15px;
        padding-top: 1rem;
    }
.sld1{
    background-color: #6787e7 ;
    
}
.prod{
    padding-top: 5rem;
}
.redes{
    text-align: center;
    padding-bottom: 3rem;
  
}
.redes a{
    padding-left: 1rem;

}
.direitos{ text-align: center;
font-size: 10px;}